.config-preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.config-preloader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.config-title {
    text-align: center;
    margin: 20px 0;
}

.config-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.config-select-card {
    width: 30%;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.config-select-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.config-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.config-card-image img {
    width: 100%;
    height: auto;
}

.config-card-info {
    padding: 20px;
    text-align: left;
}

.config-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.config-card-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.config-card-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.config-card-button:hover {
    background-color: #0056b3;
}
