*{
    margin: 0;
    border: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    color: white;
    background-color: black;
    padding: 1em 2em;
    border-bottom: 1px black solid;

}

.search-bar {
    width: 350px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
}

a{
    color: white;
    padding: 0.3em;
    cursor: pointer;
    text-decoration: none;
}

