.marketHeader {
    background-color: black;
    /* Set the background color to black */
    background-image: url('../assets/loginCar.png');
    background-size: 180px 180px;

    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 2%;
}

.head-store{
    margin-bottom: 2rem;
    padding-top: 2rem;
    background-color: black;
    color: white;
}

.marketplace {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.store-info {
    display: flex;
    text-align: start;
    
    width: 100%;
    gap: 2%;
    background-color: black;

    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    box-sizing: border-box;
}

.store-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}



.store-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: white;
}

.store-address,
.store-description {
    font-size: 16px;
    
    margin: 5px 0;
    color: white;
}

.card-market {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
    padding: 2%;
    /* Ensures no padding */
}

.card-market:hover {
    transform: translateY(-10px);
}

.card-market-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-market-content {

    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 5%;

}

.card-market a {
    color: inherit;

    text-decoration: none;

}

.card-market:hover a {
    color: inherit;

}

.card-market-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-market-description {
    font-size: 14px;
    color: black;
}

.infoButton {
    display: flex;
    align-items: end;
}

