.user-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-grid {
    text-align: left;
    width: 90%;
    padding: 2em 4em;
    background-color: black;
  }
  
  .products-grid h1{
    color: white;
    font-size: 54px;
  }

  .text-white{
    color: white;
  }

  .grid {
    list-style: none;
    padding: 2em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1em;
  }
  
  .grid-item {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card {
    color: black;
    text-align: left;
  }

  .product-card p {
    color: black;
    text-align: left;
  }

  .prod-icons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .prod-icons img{
    cursor: pointer;
    width: 8%;
  }