/* productModal.css */

* {
    padding: 0;
    margin: 0;
}

.modal-border {
    border: 1px black solid;
    border-radius: 0.5em;
    padding: 1em;
}

.modal-heading {
    font-size: 32px;
    margin-bottom: 1em;
}

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 0 30%;
}

.modal-form > * {
    margin-bottom: 10px;
}

.modal-form .flex-forward {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
}

.modal-form input[type="text"],
.modal-form textarea,
.modal-form input[type="number"],
.modal-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-form textarea {
    height: 100px;
    resize: vertical;
}

.imageView {
    margin-top: 10px;
}

.image-display {
    width: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Styling for image navigation buttons */
.image-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.image-navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
}

.image-navigation button:hover {
    background-color: #0056b3;
}

.modal-button {
    margin: 1em 1em;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-button:hover {
    background-color: rgb(143, 141, 141);
    color: #000000;
}
